<%= render "signed_in_as" %>

<h3>User Profile:</h3>
<%= "Name: #{ @user.name }" %><br>
<%= "Username: #{ @user.username }" %>

<h4>Events created:</h4>
<% if @user.hosted_events.count.zero? %>
  <%= "This user has not created any events." %>
<% else %> 
  <% @user.hosted_events.each do |event| %>
    <%= event.date %> - 
    <%= event.location %><br>
    <small><%= event.description %></small><br>
  <% end %>
<% end %>

<% upcoming_events = @user.attended_events.select { |event| DateTime.now - event.date < 0} %>
<% past_events = @user.attended_events.select { |event| DateTime.now - event.date > 0} %>

<h4>Upcoming Events:</h4>
<% if upcoming_events.empty? %>
  <%= "This user is not yet attending any upcoming events." %>
<% else %> 
  <% upcoming_events.each do |event| %>
    <%= event.date %> - 
    <%= event.location %><br>
    <small><%= event.description %></small>
  <% end %>
<% end %>

<h4>Past Events:</h4>
<% if past_events.empty? %>
  <%= "This user has not yet attended any events." %>
<% else %> 
  <% past_events.each do |event| %>
    <%= event.date %> - 
    <%= event.location %><br>
    <small><%= event.description %></small>
  <% end %>
<% end %>