<%= render "signed_in_as" %>

<h3>User Profile:</h3>
<%= "Name: #{ @user.name }" %><br>
<%= "Username: #{ @user.username }" %>

<h4>Events created:</h4>
<% if @user.hosted_events.count.zero? %>
  <%= "This user has not created any events." %>
<% else %> 
  <% @user.hosted_events.each do |event| %>
    <%= event.date %> - 
    <%= event.location %><br>
    <small><%= event.description %></small>
  <% end %>
<% end %>

<h4>Events attending:</h4>
<% if @user.attended_events.count.zero? %>
  <%= "This user has not accepted any invitations." %>
<% else %> 
  <% @user.attended_events.each do |event| %>
    <%= event.date %> - 
    <%= event.location %><br>
    <small><%= event.description %></small>
  <% end %>
<% end %>