<%= render "shared/navbar" %>
<%= render "shared/signed_in_as" %>

<h4>Upcoming Events:</h4>

<% @events.unscoped.upcoming(DateTime.now).each do |event| %>
  <%= event.date %><br>
  <%= event.location %><br>
  <%= event.description %><br><br><br>
<% end %>

<h4>Past Events:</h4>

<% @events.past(DateTime.now).each do |event| %>
  <%= event.date %><br>
  <%= event.location %><br>
  <%= event.description %><br><br><br>
<% end %>