<h4>Event info:</h4>

<p>
  <%= "When: #{ @event.date.strftime("%B %e, %Y") }" %><br>
  <%= "Where: #{ @event.location }" %><br>
  <%= "Why: #{ @event.description }" %><br><br>
  Creator:
  <i><%= "#{ @event.creator.name }" %></i><br>
  Who's coming:
  <% @event.guests.each do |guest| %>
    <%= guest.name %>, <br>
  <% end %>
</p>
